@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Uchen&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Opcional: fondo global clarito, igual al hero */
body {
  @apply bg-[#f5f5f5] text-black;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
